@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  /**
  @font family declaration
  */
  --st-ff-body: 'PT Sans', sans-serif;
  --st-ff-heading: 'Philosopher', sans-serif;
  --st-ff-p: 'PT Sans', sans-serif;
  --st-ff-menu: 'Philosopher', sans-serif;
  --st-ff-button: 'Philosopher', sans-serif;
  /**
  @color declaration
  */
  --st-common-white: #ffffff;
  --st-common-black: #111111;
  --st-common-light-white: #eeeeee;
  --st-common-body: #6a6a6a;
  --st-heading-primary: #111111;
  --st-grey-1: #F3FAF5;
  --st-grey-2: #EEEEEE;
  --st-text-body: #6A6A6A;
  --st-theme-primary: #DB9E30;
  --st-theme-secondary: #FFFBEE;
  --st-border-1: rgb(230, 230, 230);
  --st-bg-1: rgb(245, 245, 245);
  /**
  @font weight declaration
  */
  --st-fw-normal: normal;
  --st-fw-regular: 400;
  --st-fw-medium: 500;
  --st-fw-sbold: 600;
  --st-fw-bold: 700;
  --st-fw-heading: 700;
  --st-fw-ebold: 800;
  --st-fw-black: 900;
  /**
  @font size declaration
  */
  --st-fz-body: 18px;
  --st-fz-p: 18px;
  --st-fz-p2: 16px;
  --st-fz-h1: 60px;
  --st-fz-h2: 48px;
  --st-fz-h3: 36px;
  --st-fz-h4: 32px;
  --st-fz-h5: 28px;
  --st-fz-h6: 24px;
  --st-fz-mob-body: 16px;
  --st-fz-mob-h1: 36px;
  --st-fz-mob-h2: 30px;
  --st-fz-mob-h3: 26px;
  --st-fz-mob-h4: 22px;
  --st-fz-mob-h5: 20px;
  --st-fz-mob-h6: 18px;
  --st-fz-tab-body: 18px;
  --st-fz-tab-h1: 48px;
  --st-fz-tab-h2: 40px;
  --st-fz-tab-h3: 32px;
  --st-fz-tab-h4: 28px;
  --st-fz-tab-h5: 24px;
  --st-fz-tab-h6: 20px;
  /**
  @line height declaration
  */
  --st-lh-body: 1.56;
  --st-lh-p: 1.56;
  --st-lh-p2: 1.5;
  --st-lh-h1: 1.2;
  --st-lh-h2: 1.25;
  --st-lh-h3: 1.25;
  --st-lh-h4: 1.25;
  --st-lh-h5: 1.28;
  --st-lh-h6: 1.3;
  --st-lh-h1-tab: 1.2;
  --st-lh-h2-tab: 1.25;
  --st-lh-h3-tab: 1.25;
  --st-lh-h4-tab: 1.25;
  --st-lh-h5-tab: 1.28;
  --st-lh-h6-tab: 1.3;
  --st-lh-h1-mob: 1.2;
  --st-lh-h2-mob: 1.25;
  --st-lh-h3-mob: 1.25;
  --st-lh-h4-mob: 1.25;
  --st-lh-h5-mob: 1.28;
  --st-lh-h6-mob: 1.3;
}

.pt-120 {
  padding-top: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pt-120 {
    padding-top: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pt-120 {
    padding-top: 50px;
  }
}

.pb-120 {
  padding-bottom: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pb-120 {
    padding-bottom: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pb-120 {
    padding-bottom: 50px;
  }
}

.pt-80 {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pt-80 {
    padding-top: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pt-80 {
    padding-top: 30px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pb-80 {
    padding-bottom: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pb-80 {
    padding-bottom: 30px;
  }
}

.pt-60 {
  padding-top: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-60 {
    padding-top: 30px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-60 {
    padding-bottom: 30px;
  }
}

.st-pt-4 {
  padding-top: 4px;
}

.st-pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-24 {
    padding-top: 16px;
  }
}

.pt-32 {
  padding-top: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-32 {
    padding-top: 24px;
  }
}

.pt-48 {
  padding-top: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-48 {
    padding-top: 32px;
  }
}

.st-pb-4 {
  padding-bottom: 4px;
}

.st-pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-24 {
    padding-bottom: 16px;
  }
}

.pb-32 {
  padding-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-32 {
    padding-bottom: 24px;
  }
}

.pb-48 {
  padding-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-48 {
    padding-bottom: 32px;
  }
}

.st-py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.st-py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-24 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-32 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-48 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mb-120 {
  margin-bottom: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-120 {
    margin-bottom: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mb-120 {
    margin-bottom: 50px;
  }
}

.mt-120 {
  margin-top: 120px;
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-120 {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-120 {
    margin-top: 60px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mt-120 {
    margin-top: 50px;
  }
}

.mt-80 {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-80 {
    margin-top: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mt-80 {
    margin-top: 30px;
  }
}

.mb-80 {
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-80 {
    margin-bottom: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mb-80 {
    margin-bottom: 30px;
  }
}

.mt-60 {
  margin-top: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-60 {
    margin-top: 30px;
  }
}

.mb-60 {
  margin-bottom: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-60 {
    margin-bottom: 30px;
  }
}

.st-mt-4 {
  margin-top: 4px;
}

.st-mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-24 {
    margin-top: 16px;
  }
}

.mt-32 {
  margin-top: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-32 {
    margin-top: 24px;
  }
}

.mt-48 {
  margin-top: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-48 {
    margin-top: 32px;
  }
}

.st-mb-4 {
  margin-bottom: 4px;
}

.st-mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-24 {
    margin-bottom: 16px;
  }
}

.mb-32 {
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-32 {
    margin-bottom: 24px;
  }
}

.mb-48 {
  margin-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-48 {
    margin-bottom: 32px;
  }
}

.st-my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.st-my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-24 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-32 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-48 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .ml-sm-24 {
    margin-left: 24px;
  }
}

:root {
  /**
  @font family declaration
  */
  --st-ff-body: 'PT Sans', sans-serif;
  --st-ff-heading: 'Philosopher', sans-serif;
  --st-ff-p: 'PT Sans', sans-serif;
  --st-ff-menu: 'Philosopher', sans-serif;
  --st-ff-button: 'Philosopher', sans-serif;
  /**
  @color declaration
  */
  --st-common-white: #ffffff;
  --st-common-black: #111111;
  --st-common-light-white: #eeeeee;
  --st-common-body: #6a6a6a;
  --st-heading-primary: #111111;
  --st-grey-1: #F3FAF5;
  --st-grey-2: #EEEEEE;
  --st-text-body: #6A6A6A;
  --st-theme-primary: #DB9E30;
  --st-theme-secondary: #FFFBEE;
  --st-border-1: rgb(230, 230, 230);
  --st-bg-1: rgb(245, 245, 245);
  /**
  @font weight declaration
  */
  --st-fw-normal: normal;
  --st-fw-regular: 400;
  --st-fw-medium: 500;
  --st-fw-sbold: 600;
  --st-fw-bold: 700;
  --st-fw-heading: 700;
  --st-fw-ebold: 800;
  --st-fw-black: 900;
  /**
  @font size declaration
  */
  --st-fz-body: 18px;
  --st-fz-p: 18px;
  --st-fz-p2: 16px;
  --st-fz-h1: 60px;
  --st-fz-h2: 48px;
  --st-fz-h3: 36px;
  --st-fz-h4: 32px;
  --st-fz-h5: 28px;
  --st-fz-h6: 24px;
  --st-fz-mob-body: 16px;
  --st-fz-mob-h1: 36px;
  --st-fz-mob-h2: 30px;
  --st-fz-mob-h3: 26px;
  --st-fz-mob-h4: 22px;
  --st-fz-mob-h5: 20px;
  --st-fz-mob-h6: 18px;
  --st-fz-tab-body: 18px;
  --st-fz-tab-h1: 48px;
  --st-fz-tab-h2: 40px;
  --st-fz-tab-h3: 32px;
  --st-fz-tab-h4: 28px;
  --st-fz-tab-h5: 24px;
  --st-fz-tab-h6: 20px;
  /**
  @line height declaration
  */
  --st-lh-body: 1.56;
  --st-lh-p: 1.56;
  --st-lh-p2: 1.5;
  --st-lh-h1: 1.2;
  --st-lh-h2: 1.25;
  --st-lh-h3: 1.25;
  --st-lh-h4: 1.25;
  --st-lh-h5: 1.28;
  --st-lh-h6: 1.3;
  --st-lh-h1-tab: 1.2;
  --st-lh-h2-tab: 1.25;
  --st-lh-h3-tab: 1.25;
  --st-lh-h4-tab: 1.25;
  --st-lh-h5-tab: 1.28;
  --st-lh-h6-tab: 1.3;
  --st-lh-h1-mob: 1.2;
  --st-lh-h2-mob: 1.25;
  --st-lh-h3-mob: 1.25;
  --st-lh-h4-mob: 1.25;
  --st-lh-h5-mob: 1.28;
  --st-lh-h6-mob: 1.3;
}

.pt-120 {
  padding-top: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pt-120 {
    padding-top: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pt-120 {
    padding-top: 50px;
  }
}

.pb-120 {
  padding-bottom: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pb-120 {
    padding-bottom: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pb-120 {
    padding-bottom: 50px;
  }
}

.pt-80 {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pt-80 {
    padding-top: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pt-80 {
    padding-top: 30px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pb-80 {
    padding-bottom: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pb-80 {
    padding-bottom: 30px;
  }
}

.pt-60 {
  padding-top: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-60 {
    padding-top: 30px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-60 {
    padding-bottom: 30px;
  }
}

.st-pt-4 {
  padding-top: 4px;
}

.st-pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-24 {
    padding-top: 16px;
  }
}

.pt-32 {
  padding-top: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-32 {
    padding-top: 24px;
  }
}

.pt-48 {
  padding-top: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-48 {
    padding-top: 32px;
  }
}

.st-pb-4 {
  padding-bottom: 4px;
}

.st-pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-24 {
    padding-bottom: 16px;
  }
}

.pb-32 {
  padding-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-32 {
    padding-bottom: 24px;
  }
}

.pb-48 {
  padding-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-48 {
    padding-bottom: 32px;
  }
}

.st-py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.st-py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-24 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-32 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-48 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mb-120 {
  margin-bottom: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-120 {
    margin-bottom: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mb-120 {
    margin-bottom: 50px;
  }
}

.mt-120 {
  margin-top: 120px;
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-120 {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-120 {
    margin-top: 60px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mt-120 {
    margin-top: 50px;
  }
}

.mt-80 {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-80 {
    margin-top: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mt-80 {
    margin-top: 30px;
  }
}

.mb-80 {
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-80 {
    margin-bottom: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mb-80 {
    margin-bottom: 30px;
  }
}

.mt-60 {
  margin-top: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-60 {
    margin-top: 30px;
  }
}

.mb-60 {
  margin-bottom: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-60 {
    margin-bottom: 30px;
  }
}

.st-mt-4 {
  margin-top: 4px;
}

.st-mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-24 {
    margin-top: 16px;
  }
}

.mt-32 {
  margin-top: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-32 {
    margin-top: 24px;
  }
}

.mt-48 {
  margin-top: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-48 {
    margin-top: 32px;
  }
}

.st-mb-4 {
  margin-bottom: 4px;
}

.st-mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-24 {
    margin-bottom: 16px;
  }
}

.mb-32 {
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-32 {
    margin-bottom: 24px;
  }
}

.mb-48 {
  margin-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-48 {
    margin-bottom: 32px;
  }
}

.st-my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.st-my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-24 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-32 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-48 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .ml-sm-24 {
    margin-left: 24px;
  }
}

/*-----------------------------------------------------------------------------------

    Theme Name: Vasha – News Portal HTML5 Template
    Author: SOFTZINO
    Support: info@softzino.com
    Description: Template Name  – HTML5 Template
    Version: 1.0

-----------------------------------------------------------------------------------

/************ TABLE OF CONTENTS ***************

    01. THEME DEFAULT CSS
    02. HEADER CSS



**********************************************/
/*----------------------------------------*/
/*  01. THEME DEFAULT CSS START
/*----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------
    typography css start 
---------------------------------*/
body {
  font-family: var(--st-ff-body);
  font-size: var(--st-fz-body);
  font-weight: normal;
  color: var(--st-text-body);
  line-height: var(--st-lh-body);
  overflow-x: hidden;
}
@media (max-width: 575.98px) {
  body {
    font-size: var(--st-fz-p2);
    line-height: var(--st-lh-p2);
  }
}

a {
  text-decoration: none;
  color: var(--st-heading-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--st-ff-heading);
  color: var(--st-heading-primary);
  margin: 0;
  font-weight: var(--st-fw-heading);
  transition: all 0.3s ease-out 0s;
}

h1 {
  font-size: var(--st-fz-h1);
  line-height: var(--st-lh-h1);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: var(--st-fz-tab-h1);
    line-height: var(--st-lh-h1-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h1 {
    font-size: var(--st-fz-mob-h1);
    line-height: var(--st-lh-h1-mob);
  }
}

h2 {
  font-size: var(--st-fz-h2);
  line-height: var(--st-lh-h2);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h2 {
    font-size: var(--st-fz-tab-h2);
    line-height: var(--st-lh-h2-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h2 {
    font-size: var(--st-fz-mob-h2);
    line-height: var(--st-lh-h2-mob);
  }
}

h3 {
  font-size: var(--st-fz-h3);
  line-height: var(--st-lh-h3);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h3 {
    font-size: var(--st-fz-tab-h3);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h3 {
    font-size: var(--st-fz-mob-h3);
    line-height: var(--st-lh-h3-mob);
  }
}

h4 {
  font-size: var(--st-fz-h4);
  line-height: var(--st-lh-h4);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h4 {
    font-size: var(--st-fz-tab-h4);
    line-height: var(--st-lh-h4-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h4 {
    font-size: var(--st-fz-mob-h4);
    line-height: var(--st-lh-h4-mob);
  }
}

h5 {
  font-size: var(--st-fz-h5);
  line-height: var(--st-lh-h5);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h5 {
    font-size: var(--st-fz-tab-h5);
    line-height: var(--st-lh-h5-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h5 {
    font-size: var(--st-fz-mob-h5);
    line-height: var(--st-lh-h5-mob);
  }
}

h6 {
  font-size: var(--st-fz-h6);
  line-height: var(--st-lh-h6);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h6 {
    font-size: var(--st-fz-tab-h6);
    line-height: var(--st-lh-h6-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h6 {
    font-size: var(--st-fz-mob-h6);
    line-height: var(--st-lh-h6-mob);
  }
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  font-family: var(--st-ff-p);
  font-size: var(--st-fz-body);
  font-weight: var(--st-fw-normal);
  color: var(--st-text-body);
  line-height: var(--st-lh-p);
  margin: 0;
}
@media (max-width: 575.98px) {
  p {
    font-size: var(--st-fz-p2);
    line-height: var(--st-lh-p2);
  }
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.pl-0 {
  padding-left: 0;
}

.background-position {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.outline-wrapper .outline-card-1 {
  background-color: aliceblue;
  outline: 50px auto aliceblue;
  border-radius: 8px;
}
.outline-wrapper .outline-card-2 {
  background-color: aliceblue;
  outline: 14px double white;
  outline-offset: -20px;
}
.outline-wrapper .outline-card-3 {
  background-color: aliceblue;
  outline: 8px dotted white;
  outline-offset: -20px;
}
.outline-wrapper .outline-card-4 {
  background-color: aliceblue;
  outline: 8px groove #1e2020;
  outline-offset: -20px;
}
.outline-wrapper .outline-card-5 {
  background-color: aliceblue;
  outline: 8px ridge #ab3333;
  outline-offset: -14px;
}
.outline-wrapper .outline-card-6 {
  background-color: aliceblue;
  outline: 8px outset #1e2020;
  outline-offset: -14px;
}
.outline-wrapper .outline-card-7 {
  background-color: aliceblue;
  outline: 8px inset #1e2020;
  outline-offset: -14px;
}
.outline-wrapper p {
  text-align: center;
}

.bg-positoon {
  width: 400px;
  height: 400px;
  position: static;
  border-radius: 8px;
  margin: 20px;
}

.sec-1 {
  background-color: #e9650d;
  position: relative;
  top: 50px;
  left: 50px;
}
.sec-1 .child {
  background-color: #3c0beb;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  position: absolute;
}

.sec-2 {
  background-color: #967211;
}

.drat-sec {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  border-radius: 8px;
}
.drat-sec p {
  color: white;
}

.drat-sec-1 {
  background: radial-gradient(circle closest-side, #56ab2f, #a8e063);
  border-radius: 8px;
}
.drat-sec-1 p {
  color: white;
}

.drat-sec-2 {
  background-image: conic-gradient(red 50deg, yellow 100deg, lime 200deg, aqua, blue, magenta, red);
  border-radius: 8px;
}
.drat-sec-2 p {
  color: white;
}

.main-tooltiop-wrapper .tp-top {
  background: #e9650d;
}
.main-tooltiop-wrapper .tp-top .ttip-1 {
  position: relative;
  display: inline-block;
}
.main-tooltiop-wrapper .tp-top .ttip-1 p {
  color: #1e2020;
  font-weight: 600;
  border-bottom: 1px dotted #000000;
}
.main-tooltiop-wrapper .tp-top .ttip-1 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 50%;
  margin-left: -60px;
}
.main-tooltiop-wrapper .tp-top .ttip-1 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}
.main-tooltiop-wrapper .tp-top .ttip-1:hover .tooltiptext {
  visibility: visible;
}/*# sourceMappingURL=main.css.map */