// Common Class
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.pl-0 {
    padding-left: 0;
}


.background-position {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
