header{
    background-color: aqua;
   nav{
    ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px 0;

        li{
            a{
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
   } 
}