// Css Outline
.outline-wrapper{
    .outline-card-1{
        background-color: aliceblue;
        outline: 50px auto aliceblue;
        border-radius: 8px;
    }
    .outline-card-2{
        background-color: aliceblue;
        outline: 14px double white;
	    outline-offset: -20px;
    }
    .outline-card-3{
        background-color: aliceblue;
        outline: 8px dotted white;
	    outline-offset: -20px;
    }
    .outline-card-4{
        background-color: aliceblue;
        outline: 8px groove #1e2020;
	    outline-offset: -20px;
    }
     .outline-card-5{
        background-color: aliceblue;
        outline: 8px ridge #ab3333;
	    outline-offset: -14px;
    }
     .outline-card-6{
        background-color: aliceblue;
        outline: 8px outset #1e2020;
	    outline-offset: -14px;
    }
     .outline-card-7{
        background-color: aliceblue;
        outline: 8px inset #1e2020;
	    outline-offset: -14px;
    }
    p{
        text-align: center;
    }
}

// Css Position 
.bg-positoon{
    width: 400px;
    height: 400px;
    position: static;
    border-radius: 8px;
    margin: 20px;
}
.sec-1{
         background-color: #e9650d;
         position: relative;
         top: 50px;
         left: 50px;
         .child{
            background-color: #3c0beb;
            height: 50px;
            width: 50px;
            top: 50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -25px;
            position: absolute;
         }
}
.sec-2{
         background-color: #967211;
}

// Css Gradient
.drat-sec{
      background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
      border-radius: 8px;
      p{
        color: white;
      }
}
.drat-sec-1{
    background: radial-gradient(circle closest-side, #56ab2f, #a8e063);
    border-radius: 8px;
    p{
        color: white;
    }
}
.drat-sec-2{
    background-image: conic-gradient(red 50deg, yellow 100deg, lime 200deg, aqua, blue, magenta, red);
    border-radius: 8px;
    p{
        color: white;
    }
}

// Css Tool tip
.main-tooltiop-wrapper{
    .tp-top{
        background: #e9650d;
        .ttip-1 {
            position: relative;
            display: inline-block;
            p{
                color: #1e2020;
                font-weight: 600;
                border-bottom: 1px dotted #000000;
            }
        }
        .ttip-1 .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #000000;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 70%;
            left: 50%;
            margin-left: -60px;
       }
       .ttip-1 .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #000000 transparent transparent transparent;
        }
        .ttip-1:hover .tooltiptext {
        visibility: visible;
        }
    }
}

// Css flexbox

.main-flexbox-wrapper{
    .flex-container {
        display: flex;
        // flex-direction: column;
        flex-direction: row;
        // flex-direction: row-reverse;
        // flex-direction: column-reverse;
        // justify-content: center;
        // justify-content: flex-end;
        // justify-content: space-around;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        background-color: rgb(11, 40, 94);
        .flc{
            background-color: #f1f1f1;
            margin: 10px;
            padding: 20px;
            font-size: 30px;
            width: 80px;
            text-align: center;
        }
    }
}

// Css grid

.grid_main_wrapper{
    background: #19e90d21;
    margin: 20px auto;
    padding: 10px;
    .grid_main_area{
        display: grid;
        // column-gap: 50px;
        row-gap: 50px;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr 2fr;
        .grid_child{
            background: #408787;
            padding: 20px;
            color: #ffffff;
            margin: 1%;
            grid-row: 1 / span 2;
            h3{
                color: #ffffff;
            }
            p{
                color: #ffffff;
                margin-bottom: 20px;
            }
            a{
                background: #29b9b9;
                padding: 10px 20px;
                color: #ffffff;
                display: inline-block;
            }
        }
    }
}